//- All (common) METATAGS in head tag
meta(name='author', content='@jalofernandez para Yolanda Lorenzo Fdez')
meta(name='copyright', content='free')
meta(name='robots', content='index, follow, archive')
meta(name='generator', content='html5, css3, nodejs, yarn, less, pug, gulp, jQuery, JavaScript')
meta(name='google', content='nositelinkssearchbox')
meta(name='apple-mobile-web-app-capable', content='yes')
meta(name='lang', content='es-ES')
meta(name='Classification', content='Education')
meta(name='subject', content='A journalistic approach: Bullying according to social status in Spain')
meta(name='rating', content='General')
meta(name='coverage', content='Worldwide')
//- FAVICON
link(rel="apple-touch-icon", sizes="180x180", href="img/favicon/apple-touch-icon.png")
link(rel="icon", type="image/png", href="img/favicon/favicon-32x32.png", sizes="32x32")
link(rel="icon", type="image/png", href="img/favicon/favicon-16x16.png", sizes="16x16")
link(rel="manifest", href="manifest.json")
//- Browsers Tabs
link(rel="mask-icon", href="img/favicon/safari-pinned-tab.svg", color="#5bbad5")
//- to customize browsers top navbar
meta(name="theme-color", content="#ff4081")
//- SiteMap
link(rel='sitemap', href='sitemap.xml', title='Mapa general del website')
//- CSS
link(rel='stylesheet', type='text/css', href='css/main.css', media='screen,projection')
//- Google Analytics track id
  script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-92611489-1')
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-92611489-1');
